<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="example-menu"></button>
    <div class="title-bar-title">Menu</div>
  </div>
  
  <div class="top-bar" id="example-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="/" class="menu-text">Neunapi</a></li>
        <li><a href="https://www.paypal.com/paypalme/neunapp?locale.x=es_XC">Apoyar</a></li>
        <li><a href="https://neunapp.com/cursos">Cursos</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="{% url 'home_app:servicios-detail' 0 %}" class="button">Comenzar</a></li>
      </ul>
    </div>
  </div>